.App {
  text-align: center;
  background-color: #22513D;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
  /* display: flex; */
  position: absolute;
  bottom: 50px;
  left: 700px;
  transform: translateX(-50%);
}

.Title {
  font-family: 'Cabin Sketch';
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 700;
  font-size: 15vw;
  padding-bottom: 20px;
  padding-top: 20px;
  }

.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;
}

.PlayerButtons {
  position: absolute;
  top: 60px;
  right: 170px;
  display: flex;
  flex-direction: column;
  /* padding-top: 5vw;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 25vw; */
  }

.SingleplayerButton {
  width: 25vmin;
  padding: 10px;
}

.MultiplayerButton {
  width: 25vmin;
  padding: 10px;
}

.PlayButton {
  width: 18vmin;
}

.HelpButton {
  width: 6vmin;
  padding-right: 90vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */
  }
}

.App-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
